/*Fonts*/

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src:
         url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"),
         url("../fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff"); 
}
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src:
         url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff2"),
         url("../fonts/montserrat-v15-latin_cyrillic-600.woff") format("woff"); 
}

  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src:
         url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2"),
         url("../fonts/montserrat-v15-latin_cyrillic-700.woff") format("woff"); 
}

:root{
    --text-color: #222;
    --white-color: #ffffff;
    --active-color: #59aaf1;
    --passive-color: #eceef6;
    --header-bg-color: #f0f5fb;
    --font-family: "Montserrat", "Arial", sans-serif;
}



/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family:"Montserrat", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: var(--text-color);
}

main{
    padding-top: 140px;

}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 18px;
    margin-top: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/*Header boshlandi*/

.site-header{
    padding-top: 25px;
    background: url(../images/bg-icon.png) no-repeat center 50px var(--header-bg-color);
}

.site-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list{
    display: flex;
    list-style-type: none;
}

.navbar__item{
    margin-right: 40px;
}

.navbar__link{
    text-decoration: none;
    color: var(--text-color);
}

.logo__img{
    display: block;
}

.work{
    display: flex;
}

.work__time{
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 40px;
}

.work__time::before{
    content: "";
    width: 4px;
    height: 4px;
    margin-right: 9px;
    border-radius: 50%;
    background-color: #46cb72;
}

.work__tel{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.work__tel::before{
    content: "";
    width: 33px;
    height: 33px;
    margin-right: 16px;
    padding: 10px;
     background:url(../images/call-center.png) no-repeat center center,
               linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 50%;
}

/*Header tugadi*/

/*Hero boshlandi*/

.hero{
    background-image: url(../images/vegitable.png),
                        url(../images/bg-icon.png);
    background-repeat: no-repeat;
    background-position: center 50px,
                        center -43px;
    background-color: var(--header-bg-color);
}

.hero__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 105px;
    padding-bottom: 400px; 
    position: relative;
}

.hero__pizza{
    position: absolute;
    top: 200px;
    right: 50px;
}

.hero__text{
    width: 621px;
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.hero__offer{
    position: relative;
    top: 100px;
    right: -500px;
    width: 200px;
    text-align: end;
}

.hero__span{
    font-weight: 700;
    color: orange;
}

.hero__button{
    position: relative;
    top: 110px;
    right: -200px;
    border: none;
    padding: 16.5px;
    background-color: var(--white-color);
    background-position: center center;
    background: url(../images/vector-plus.png) no-repeat center center, 
    linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 50%;
}

.hero__button::after{
    content: "";
    position: absolute;
    background-image: url(../images/line.svg);
    width: 141px;
    height: 40.5px;
    top: -45px;
    left: 40px;
}

/*Hero tugadi*/

/*Popular boshlandi*/

.popular{
    padding-bottom: 100px;
    background-image: url(../images/bg-for-popular.png);
    background-repeat: no-repeat;
    background-size: 1581px;
    background-position: center 170px;
}

.popular__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.popular__massage{
    position: absolute;
    top: -119px;
    right: 15px;
}

.popular__title{
    margin-bottom: 49px;
}

.popular__list{
    display: flex;
    list-style-type: none;
    padding: 0; 
    margin-bottom: 50px;
}

.popular__item:not(:last-child){
    margin-right: 31px;
}

.popular__link{
    padding: 15px 46px;
    text-decoration: none;
    background-color: var(--passive-color);
    border-radius: 45px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.4;
}

.active{
    background-color: var(--active-color);
    color: var(--white-color);
}

.popular__list-pizza{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-bottom: 55px;
}

.popular__icon-pizza{
    display: flex;
    flex-direction: column;
    max-width: 260px;
    padding-top: 36px;
    padding-left: 25px;
    padding-right: 15px;
    margin-bottom: 45px;
    border: 2px solid #eceef7;
    border-radius: 15px;
    z-index: 1;
    position: relative;
}

.popular__icon-pizza::after{
    position: absolute;
    background-color: #FFF;
    width: 50px;
    height: 50px;
    content: "";
    border-radius: 0 0 25px 0 ;
    border-right: 2px solid #eceef7;
    border-bottom: 2px solid #eceef7;
    transform: rotate(45deg);
    bottom: -27px;
    left: 108px;
    z-index: -4;
}

.popular__icon-pizza:not(:nth-child(4n)){
    margin-right: 40px;
}

.popular__xit-sell{
    position: absolute;
    font-size: 12px;
    font-weight: 600;   
    top: 20px;
    left: 20px;
    padding: 4px 19px;
    background: linear-gradient(116.88deg, #FE3326 -4.28%, #F26E0E 112.69%),
    linear-gradient(0deg, #59AAF1, #59AAF1);
    color: var(--white-color);
    box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
    border-radius: 3px;
}

.popular__list-pizza img{
    margin-bottom: 30px;
    align-self: center;
}

.popular__pizza-info{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 8px;
}

h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
    white-space: nowrap;
}

.popular__pizza-size{
    font-size: 12px;
}

.popular__icon-pizza p{
    margin: 0;
    margin-bottom: 19px;
}

.popular__pizza-cost{
    align-self: center;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 18px;
}

.popular__pizza-basket{
    align-self: center;
    padding: 15.5px 15.5px;
    margin-bottom: -15px;
    border: 2px solid #eceef6;
    border-radius: 50%;
    background-color: var(--white-color);
    background: url(../images/bascet.svg) no-repeat center 9px;
}

.popular__pizza-basket:hover{
    align-self: center;
    padding: 16.5px 16.5px;
    margin-bottom: -15px;
    border: none;
    border-radius: 50%;
    background: url(../images/bascet-white.svg) no-repeat center 9px,
    linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%), linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
    box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
}


.popular__reset{
    padding: 30px;
    border: none;
    border-radius: 50%;
    background: url(../images/rotate.png) no-repeat center center,
    linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
}

/*Popular tugadi*/

/*instagram blog boshlandi*/

.instagram-blog{
    padding: 40px 0;
    margin-bottom: 127px;
    background-image: url(../images/instagram-bg.png);
    background-repeat: repeat-x;
}
.instagram-blog__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-content{
    padding: 20px;
    background: linear-gradient(45.04deg, #FD9924 -51.05%, #F65B16 134.89%);
    box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2), 0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
    border-radius: 15px;
}

.instagram-border{
    padding: 55px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    font-size: 24px;
    line-height: 1.2;
}

.instagram-text{
    color: var(--white-color);
}

.instagram-link{
   font-weight: 700;
   text-decoration: none;
   color: var(--white-color);
}

/*Instagram blog tugadi*/

/*Form-out boshlandi*/

.form-out{
    background-image: url(../images/bg-vegetable.png),
                        url(../images/icon-section.png);
    background-repeat: no-repeat;
    background-position: center 125px,
                        center bottom;
    background-color: var(--header-bg-color);
}

.form-out__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
    padding-bottom: 276px; 
    position: relative;
}

.form-input{
    background: #FFFFFF;
    border: 2px solid #ECEEF7;
    box-sizing: border-box;
    border-radius: 57px;
    padding: 20px 20px 20px 30px;
    margin-right: 40px;
}

.form-out__btn{
    font-size: 18px;
    font-weight: 700;
    padding: 18px 116px 18px 58px;
    background: linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 59px;
    border: none;
    color: var(--white-color);
    position: relative;
}

.form-out__btn::after{
    content: "";
    position: absolute;
    background-image: url(../images/arrow.png);
    width: 35px;
    height: 11px;
    right: 45px;
}

.form-out__title{
    max-width: 500px;
    margin-bottom: 42px;
    text-align: center;
}

.form-out__car{
    position: absolute;
    top: 320px;
    right: 280px;
}

/*Form-out tugadi*/

/*Site-footer boshlandi*/

.site-footer{
    padding-top: 25px;

}

.site-footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img{
    display: block;
}

.site-footer__text-bold{
    font-weight: 700;    
}

.site-footer__text-bold::after{
    content: ".";
    width: 3px;
    height: 3px;
    color: #e45759;
}